@use "src/styling/variables" as *;
@use "src/styling/variables-dark" as dark;

.container {
  background-color: var(--card-background);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--primary);

  &__h1 {
    color: var(--text-color);
    margin-bottom: 20px;
    text-align: center;
  }
  &__button {
    width: 15rem;
    padding: 10px;
    margin-top: 3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--button-background);
  }
  &--flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);

  &__control {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }

  &__input {
    background-color: var(--chip-background);
    color: var(--text-color);
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      border: var(--webkit-border);
      -webkit-text-fill-color: var(--webkit-text-fill-color);
      -webkit-box-shadow: var(--webkit-box-shadow);
      transition: var(--webkit-transition);
    }
  }

  &__textarea {
    background-color: var(--chip-background);
    color: var(--text-color);
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  &__button {
    width: 15rem;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid transparent;
    color: var(--button-text-color);
    background-color: var(--button-background);
    transition: all 0.5s ease-in-out;

    &--center {
      text-align: center;
    }
    &:active {
      background-color: var(--button-active-bg);
      color: var(--button-active-color);
      transition: all 0.2s ease-in-out;
    }
  }

  &__button:hover {
    cursor: pointer;
    border: 1px solid var(--light);
  }

  &__button:disabled {
    background-color: var(--button-disabled-bg);
    opacity: 0.8;
    &:hover {
      cursor: not-allowed;
      border-color: var(--danger);
    }
  }
}
.toast {
  //   z-index: 9999;
  position: fixed;
}

$propWidth: 30px;
$propHeight: $propWidth;

$bladeWidth: calc($propWidth/2);
$bladeHeight: calc($propWidth/8);

.prop {
  animation: rotateProp 1s infinite;
  animation-timing-function: linear;
  height: $propHeight;
  margin: 0px auto;
  position: relative;
  transform-origin: 50% 50% 0;
  width: $propWidth;
  transition: height 0.5s ease-in-out;
}
.middle {
  background: black;
  border-radius: 50%;
  height: $bladeHeight;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -#{calc($bladeHeight/2)} 0 0 -#{calc($bladeHeight/2)};
  width: $bladeHeight;
}
.blade {
  background: #b1c1c0ff;
  border-radius: 95% 50% 50% 20%;
  height: $bladeHeight;
  position: absolute;
  width: $bladeWidth;
  transform-origin: 0% 0% 0;
  left: 50%;
  top: 50%;
  &.blade-1 {
    transform: rotate(0deg);
    margin: -#{calc($bladeHeight/1.25)} 0 0 0;
  }
  &.blade-2 {
    transform: rotate(90deg);
    margin: 0 0 0 #{calc($bladeHeight/1.25)};
  }
  &.blade-3 {
    transform: rotate(180deg);
    margin: #{calc($bladeHeight/1.25)} 0 0 0;
  }
  &.blade-4 {
    transform: rotate(270deg);
    margin: 0 0 0 -#{calc($bladeHeight/1.25)};
  }
}

@keyframes rotateProp {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
