<div class="navbar">
  <div tabindex="0" class="navbar__brand">
    <span>MonsterRG</span>
  </div>
  <div class="navbar__links">
    <label class="switch">
      <input
        type="checkbox"
        (change)="toggleTheme()"
        [checked]="isDarkMode$ | async"
      />
      <span class="slider"></span>
    </label>
    <div
      *ngIf="
        !(isAuthenticating$ | async) && !(isAuthenticated$ | async);
        then loggedOut;
        else loggedIn
      "
    ></div>
    <ng-template #loggedIn>
      <a tabindex="0" class="navbar__link" (click)="logout()">Logout</a>
    </ng-template>
    <ng-template #loggedOut>
      <a tabindex="0" class="navbar__link" (click)="login()">Login</a>
    </ng-template>
  </div>
</div>
